<style>
  .map-container {
    margin-bottom: 55px;
  }
</style>

<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="grid">
        <div class="grid__item medium-up--one-half">
          <div class="rte">
            {{ page.content }}
          </div>
        </div>
        
        <div class="grid__item medium-up--one-half">
          <div class="contact-form form-vertical">
            {%- assign formId = 'ContactForm' -%}
            {% form 'contact', id: formId %}
              {% include 'form-status', form: form, form_id: formId %}

              <label for="{{ formId }}-name">{{ 'contact.form.name' | t }}</label>
              <input type="text" id="{{ formId }}-name" name="contact[{{ 'contact.form.name' | t }}]" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}" placeholder="e.g. Jane Smith">

              <label for="{{ formId }}-email">{{ 'contact.form.email' | t }} <span aria-hidden="true">*</span></label>
              <input
                     type="email"
                     id="{{ formId }}-email"
                     name="contact[email]"
                     autocorrect="off"
                     autocapitalize="off"
                     value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                     aria-required="true"
                     placeholder="e.g. jane.smith@gmail.com"
                     {%- if form.errors contains 'email' -%}
                     class="input--error"
                     aria-invalid="true"
                     aria-describedby="{{ formId }}-email-error"
                     {%- endif -%}
                     >
              {%- if form.errors contains 'email' -%}
              <span id="{{ formId}}-email-error" class="input-error-message">
                <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                {% include 'icon-error' %}
                <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
              </span>
              {%- endif -%}

              <label for="{{ formId }}-message">{{ 'contact.form.message' | t }}</label>
              <textarea rows="10" id="{{ formId }}-message" name="contact[{{ 'contact.form.message' | t }}]" placeholder="e.g. How do I place a special order?">{% if form.body %}{{ form.body }}{% endif %}</textarea>

              <input type="submit" class="btn" value="{{ 'contact.form.submit' | t }}">

            {% endform %}
          </div>
        </div>
      </div>
      
	  <div class="map-container">
      	{% section 'map' %}
      </div>
    </div>
  </div>
</div>
